<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    VideoMovies <img width="50" src="./assets/raspberry-logo.jpg">
  </h1>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" [routerLink]="['/home']"><img width="25" class="img-rounded" src="./assets/raspberry-logo.jpg"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
          <li><a [routerLink]="['/nueva-pelicula']" [routerLinkActive]="['activado']">Nueva pelicula</a></li>
          <li><a [routerLink]="['/peliculas']" [routerLinkActive]="['activado']">Peliculas</a></li>
          <li><a [routerLink]="['/configuracion']" [routerLinkActive]="['activado']">Configuración</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<buscador></buscador>
<router-outlet></router-outlet>
